HOST=0.0.0.0
PORT=1337
NODE_ENV=production
STRAPI_RUN_MODE=start
APP_KEYS=change1,change2,change3,change4
API_TOKEN_SALT=change_me_api_token_salt
ADMIN_JWT_SECRET=change_me_admin_jwt_secret
TRANSFER_TOKEN_SALT=change_me_transfer_token_salt
JWT_SECRET=change_me_jwt_secret
DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://strapi_u:your_password@your_db_host:5432/strapi_docs?sslmode=disable&search_path=public&connect_timeout=20&timezone=Asia/Shanghai
DATABASE_SSL=false
S3_ENDPOINT=http://your_minio_host:9100
S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET=files
S3_USE_SSL=false
S3_FORCE_PATH_STYLE=true
S3_SIGNED_URL_EXPIRES=600
S3_REGION=us-east-1
